
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Monthly Recap Report</h5>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a href="#" class="dropdown-item">Action</a>
                    <a href="#" class="dropdown-item">Another action</a>
                    <a href="#" class="dropdown-item">Something else here</a>
                    <a class="dropdown-divider"></a>
                    <a href="#" class="dropdown-item">Separated link</a>
                </div>
            </div>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p class="text-center" id="dateRange">
                    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                </p>

                <div class="chart">

                    <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                </div>

            </div>

            <div class="col-md-4" id="GoalList">
                <p class="text-center">
                    <strong>Goal Completion</strong>
                </p>

               

            </div>

        </div>

    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <span class="description-percentage text-success" id="revenueGrowth"><i class="fas fa-caret-up"></i></span>
                    <h5 class="description-header" id="revenue">$35,210.43</h5>
                    <span class="description-text">TOTAL REVENUE</span>
                </div>

            </div>

            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <span class="description-percentage text-warning" id="costWarning"><i class="fas fa-caret-left"></i></span>
                    <h5 class="description-header" id="cost">$10,390.90</h5>
                    <span class="description-text">TOTAL COST</span>
                </div>

            </div>

            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <span class="description-percentage text-success" id="profitPercentage"><i class="fas fa-caret-up"></i> </span>
                    <h5 class="description-header" id="profit">$24,813.53</h5>
                    <span class="description-text">TOTAL PROFIT</span>
                </div>

            </div>

            <div class="col-sm-3 col-6">
                <div class="description-block">
                    <span class="description-percentage text-danger" id="goalRate"><i class="fas fa-caret-down"></i></span>
                    <h5 class="description-header" id="goal">1200</h5>
                    <span class="description-text">GOAL COMPLETIONS</span>
                </div>

            </div>
        </div>
    </div>

</div>

<script>


    var element = document.getElementById('GoalList')








    $.ajax({
        type: "POST",
        url: "@Url.Action("AreachartV2","Dashboard")",
        success: function (RecapModelData) {
            
            document.getElementById("revenue").innerHTML = RecapModelData.revenue;

            document.getElementById("revenueGrowth").innerHTML += RecapModelData.revenueGrowth;


            document.getElementById("cost").innerHTML = RecapModelData.cost;
            document.getElementById("costWarning").innerHTML += RecapModelData.costWarning;

            document.getElementById("profit").innerHTML = RecapModelData.profit;
            document.getElementById("profitPercentage").innerHTML += RecapModelData.profitPercentage;

            document.getElementById("goal").innerHTML = RecapModelData.goal;
            document.getElementById("goalRate").innerHTML += RecapModelData.goalRate;

            document.getElementById("dateRange").innerHTML = RecapModelData.dateRange;


            for (var item = 0; item < RecapModelData.goalListData.length; item++) {
                var ProgressList = document.createElement('div');
                ProgressList.className = "progress-group";
                ProgressList.innerHTML = RecapModelData.goalListData[item].goalMessage;


                var GoalValue = document.createElement('span');
                GoalValue.className = "float-right";
                GoalValue.innerHTML = RecapModelData.goalListData[item].target + "/" + RecapModelData.goalListData[item].reach;

                var ProgressIcon = document.createElement('div')
                ProgressIcon.className = "progress progress-sm";
                var ProgressColor = document.createElement('div')
                ProgressColor.className = RecapModelData.goalListData[item].alertType;
                ProgressColor.style = "width:80%";
                ProgressIcon.appendChild(ProgressColor);

                ProgressList.appendChild(GoalValue);
                ProgressList.appendChild(ProgressIcon);

                element.appendChild(ProgressList);
            }





            $(function () {
                'use strict'


                var salesChartCanvas = $('#salesChart').get(0).getContext('2d')
                var AreaChartRecapdata = []

                for (var i = 0; i < RecapModelData.areaGraphData.length; i++) {


                    AreaChartRecapdata.push(RecapModelData.areaGraphData[i]);
                }

                var salesChartData = {
                    labels: RecapModelData.month,
                    datasets: AreaChartRecapdata
                }

                var salesChartOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                }


                var salesChart = new Chart(salesChartCanvas, {
                    type: 'line',
                    data: salesChartData,
                    options: salesChartOptions
                }
                )
            })


        }

    });




</script>