@model TestingAndCalibrationLabs.Web.UI.Models.UiPageTypeModel

@{
    ViewData["Title"] = "Create";
}

<h1>Ui Page Type</h1>

<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
         <form asp-action="Create" _lpchecked="1" class="mb-2" id="pageForm" method="post" asp-controller="UiPageType" novalidate>

            <div asp-validation-summary="All"></div>
           
           

            <div class="row ms-1 me-1">
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input" style="padding-left:10px; padding-bottom:5px;">
                    <input class="form-input width-full" type="text" id="Name" name="Name" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Name">
                    <label class="form-label" for="Name">Name</label>
                </div>
                <div class="col-lg-12  col-sm-12 col-xs-12 mt-3 form-element right-pd-input">
                    <label for="UiControlTypeId" class="form-label"></label>
                    <select class="form-input " name="UiNavigationCategoryId" id="UiControlType" onchange="this.setAttribute('value',this.value)" asp-for="UiNavigationCategoryId">
                        <option disabled="disabled" selected>Select Navigation Category ...</option>
                        @foreach (var item in ViewBag.UiNavigationCategory)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input" style="padding-left:10px; padding-bottom:5px;">
                    <input class="form-input width-full" type="text" id="Url" name="Url" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Url">
                    <label class="form-label" for="Url">Url</label>
                </div>
            </div>

          <div class="row ms-1 me-1">
                 <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input" style=" margin-bottom:5px;">
                <input type="submit" value="Create" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
            </div>
            </div>
          
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

