@{

    Layout = ("~/Views/Shared/AdminLTE/_Layout2.cshtml");
}

<link rel="stylesheet" href="~/css/adminlte.min.css">
<link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

<link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">



<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">

<link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">


<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">



<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="~/plugins/chart.js/Chart.min.js"></script>
<script src="~/plugins/sparklines/sparkline.js"></script>
<script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>

<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>


<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/plugins/summernote/summernote-bs4.min.js"></script>

<script src="~/js/Template.js"></script>



<section class="content">
    <div class="container-fluid">

        @await Html.PartialAsync("TilesCard/_BoxTemplate")


        <div class="row">

            <section class="col-lg-7 connectedSortable">
                @await Html.PartialAsync("TilesCard/_Sales")
                @await Html.PartialAsync("TilesCard/_ChatBox")


                @await Html.PartialAsync("TilesCard/_To-do-list")


            </section>

            <section class="col-lg-5 connectedSortable">



                @await Html.PartialAsync("TilesCard/_Map")
                @await Html.PartialAsync("TilesCard/_SalesGraph")




                @await Html.PartialAsync("TilesCard/_Calendar")

            </section>

        </div>
    </div>
</section>






<div>
    id="bottom-nav">
    <a href="#" class="nav-item active"><i class="fa fa-home"></i> Home</a>
    <a href="#" class="nav-item"><i class="fa fa-search"></i> Search</a>
    <a href="#" class="nav-item"><i class="fa fa-user"></i> Profile</a>
</div>


<body>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-phone symbol fa-2x"></i>
                    <span class="nav-text">
                        Phone
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-envelope fa-2x"></i>
                    <span class="nav-text">
                        Email
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-facebook fa-2x"></i>
                    <span class="nav-text">
                        Facebook
                    </span>
                </a>
            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-envelope  fa-2x"></i>
                    <span class="nav-text">
                        About us
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>


<style>

#bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.nav-item.active {
    color: #007bff;
}

.nav-item i {
    font-size: 24px;
}



.fa-2x {
    font-size: 2rem;
}
.fa {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
}

.main-nav {
    background: #ECC264;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    z-index: 1000;
}
.main-nav>ul {
    margin: 0rem 0rem;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}
.main-nav li:hover>a,
nav.main-nav li.active>a{
    color: #fff;
    background-color: #919191;
}

.main-nav .nav-text, .main-nav li>a{
  font-family: 'Roboto', sans-serif;
}

.main-nav li>a {
      border-collapse: collapse;
      border-spacing: 0;
      color: white;
      font-size: 1.03rem;
      text-decoration: none;
}

 @@media (min-width:35.1em) {
  .fa{
    display: table-cell;
    width: 5rem;
    height: 5rem;
  }

  .main-nav:hover,
nav.main-nav.expanded {
    width: 15em;
    overflow: visible;
}

  .main-nav{
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 5rem;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
  }

  .main-nav li {
    position: relative;
    display: block;
    width: 18rem;
  }
  .main-nav li>a {
      position: relative;
      display: table;
      -webkit-transform: translateZ(0) scale(1, 1);
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
  }

  .main-nav .nav-text {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      width: 10rem;
  }
}


  @@media (max-width:35em) {

    .main-nav {
        background: #ECC264;
        border-right: 1px solid #e5e5e5;
        position: fixed;
        margin: 0;
        left: 0;
        bottom: 0;
        /*height: 5em;*/
        width: 100%;
    }

  .main-nav ul{
    display: table;
    width: 100%;
  }

    .main-nav li{
      float: left;
      width: 25%;
      list-style-type: none;
      text-align: center;
    }

  .main-nav a{
    display: block;
    padding: 5px;
    height: 74px;
  }

  .main-nav i, .main-nav span{
    display: block;
  }

  .main-nav span{
    font-size: 14px;
  }
}

</style>
