@model TestingAndCalibrationLabs.Web.UI.Models.PasswordPolicyDTO
@{
    // Set the page title
    ViewData["Title"] = "Create";
}
<h1>Password Policy</h1>
<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" _lpchecked="1" class="mb-2" id="conForm" method="post" asp-controller="PasswordPolicy" novalidate>
            <div asp-validation-summary="All"></div>
            @Html.HiddenFor(Model => Model.Id)
            <div class="row ms-1 me-1">
                <!-- Input field for MinCaps -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                    <input class="form-input width-full black-border" type="number" id="MinCaps" name="MinCaps" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="MinCaps">
                    <label class="form-label" for="MinCaps">MinCaps</label>
                </div>
                <!-- Input field for MinSmallChars -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input" style=" margin-bottom:5px;">
                    <input class="form-input width-full black-border" type="number" id="MinSmallChars" name="MinSmallChars" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="MinSmallChars">
                    <label class="form-label" for="MinSmallChars">MinSmallChars</label>
                </div>

                <!-- Input field for MinSpecialChars -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                    <input class="form-input width-full black-border" type="number" id="MinSpecialChars" name="MinSpecialChars" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="MinSpecialChars">
                    <label class="form-label" for="MinSpecialChars">MinSpecialChars</label>
                </div>
                <!-- Input field for MinNumber -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input" style=" margin-bottom:5px;">
                    <input class="form-input width-full black-border" type="number" id="MinNumber" name="MinNumber" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="MinNumber">
                    <label class="form-label" for="MinNumber">MinNumber</label>
                </div>

                <!-- Input field for MinLength -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                    <input class="form-input width-full black-border" type="number" id="MinLength" name="MinLength" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="MinLength">
                    <label class="form-label" for="MinLength">MinLength</label>
                </div>
                <!-- Input field for AllowUserName -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input" style=" margin-bottom:5px;">
                    <input class="form-input width-full black-border" type="number" id="AllowUserName" name="AllowUserName" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="AllowUserName">
                    <label class="form-label" for="AllowUserName">AllowUserName</label>
                </div>

                <!-- Input field for DisAllPastPassword -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                    <input class="form-input width-full black-border" type="number" id="DisAllPastPassword" name="DisAllPastPassword" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="DisAllPastPassword">
                    <label class="form-label" for="DisAllPastPassword">DisAllPastPassword</label>
                </div>
                <!-- Input field for DisAllowedChars -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input" style=" margin-bottom:5px;">
                    <input class="form-input width-full black-border" type="number" id="DisAllowedChars" name="DisAllowedChars" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="DisAllowedChars">
                    <label class="form-label" for="DisAllowedChars">DisAllowedChars</label>
                </div>

                <!-- Input field for ChangeIntervalDays -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                    <input class="form-input width-full black-border" type="number" id="ChangeIntervalDays" name="ChangeIntervalDays" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="ChangeIntervalDays">
                    <label class="form-label" for="ChangeIntervalDays">ChangeIntervalDays</label>
                </div>
                <!-- Select field for OrgId -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input" style=" margin-bottom:5px;">
                    <select class="form-input width-full" name="OrgId" id="OrgId" onchange="this.setAttribute('value',this.value)" asp-for="OrgId">
                        <option disabled="disabled" selected>...</option>
                        @foreach (var item in ViewBag.organization)
                        {
                            <option value=@item.Id>@item.Id</option>
                        }
                    </select>
                    <label for="OrgId" class="form-label">OrgId</label>
                </div>

                <!-- Submit button for creating a new Password Policy -->
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input" style=" margin-bottom:5px;">
                    <input type="submit" value="Create" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <!-- Link to navigate back to the list of Password Policies -->
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        // Include validation scripts
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
