@model TestingAndCalibrationLabs.Web.UI.Models.TestReportDTO

<div class="container">
    <!--***Test Report From Begins-->
    <form _lpchecked="1" class="mb-2" id="TestReport" method="post" asp-action="Index" asp-controller="TestReport" enctype="multipart/form-data" novalidate>
        <h2 style="color:darkviolet; text-align:center">Test Report Form</h2>
        <div asp-validation-summary="All"></div>

        <div class="row ms-1 me-1">
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                <input class="form-input width-full black-border" type="text" id="Name" name="Name"  placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Name">
                <label class="form-label" for="Name">Name</label>
            </div>
        </div>

        <div class="row ms-1 me-1">
            <div class="col-lg-6  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  left-pd-input">
                <input class="form-input width-full black-border" type="tel" placeholder=" " id="TRJobId" name="JobId"  onchange="this.setAttribute('value',this.value)" asp-for="JobId">
                <label class="form-label" for="JobId">Job ID</label>
            </div>

            <div class="col-lg-6  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  left-pd-input">
                <input class="form-input width-full black-border" type="text" id="TRClient" placeholder=" " name="Client"  onchange="this.setAttribute('value',this.value)" asp-for="Client">
                <label class="form-label" for="Client">Client Name</label>
            </div>
        </div>

        <div class="row ms-1 me-1">
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control left-pd-input">
                <input class="form-input width-full black-border" type="email" placeholder=" " id="TREmail" name="Email" onchange="this.setAttribute('value',this.value)" asp-for="Email">
                <label class="form-label" for="Email">Email ID</label>
            </div>
        </div>

        <div class="row ms-1 me-1">
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                <input class="form-input width-full black-border" type="file" name="DataUrl" id="TRDataUrl" placeholder=" " onchange="validateForImages(this)" accept=".jpg, .jpeg, .JPG, .JPEG .PNG, .png,.xlsx,.XLSX,.pdf,.PDF"  asp-for="DataUrl">
               @* <input class="form-input width-full black-border" type="file" name="DataUrl" id="TRDataUrl" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="DataUrl">*@
                <label class="form-label" for="DataUrl">File Upload</label>
            </div>
        </div>

        <div class="row ms-1 me-1">
            
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element ">
                <input type="hidden" value="false" name="IsSendAndUpload" id="IsSendAndUpload" />
                <button class="btn btn-lg btn-submit-print text-white" type="button" id="Upload" name="Upload" value="upload" style="background-color:#4250b5" onclick="return onUpload(this, 'Please Wait...');">Upload Report</button>
                <button class="btn btn-lg btn-submit-print text-white" type="button" id="SendUpload" name="SendUpload" value="sendUpload" style="background-color: #4250b5;" onclick="return onSendUpload(this, 'Please Wait...');">Send & Upload</button>
            </div>
        </div>
        <div class="row ms-1 me-1">
            <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element ">
                <!--Left blank to fit in all Views-->
            </div>
        </div>
    </form>
</div>
<!--Form End Here-->
@if (@ViewBag.Response != null)
{

    @foreach (var item in @ViewBag.Response)
    {

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
        </svg>
        <div class="d-flex justify-content-center fixed-bottom" id="snack">

            <div class="alert alert-danger" role="alert" id="snackbar">
                <svg class="bi flex-shrink-0 me-2" width="34" height="9" role="img" aria-label="Failed:"><use xlink:href="#check-circle-fill" /></svg>
                <span><strong>@item !!! Thank You</strong></span>
            </div>
        </div>
    }
}

<!--***** Shows the success message for data store*****-->
@if (ViewBag.IsSuccess != null && ViewBag.IsSuccess)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="d-flex justify-content-center fixed-bottom">
        <div class="alert alert-success" role="alert" id="snackbar">
            <svg class="bi flex-shrink-0 me-2" width="34" height="9" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <span><strong>Uploaded Successfully!!! Thank You</strong></span>
        </div>
    </div>
}

<!-- ** BEGIN POP-UP MESSAGE AREA ** -->
<div class="submit-progress hidden" id="TestReport">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Please wait while Saving Data...</label>
</div>
<!-- ** END POP-UP MESSAGE AREA ** -->

<script>
    
    function onUpload(ctl, msg) {
        
        // Turn off the "Save" button and change text
        $(ctl).prop("disabled", true).text(msg);
        // Gray out background on page
        $("body").addClass("submit-progress-bg");
        // Wrap in setTimeout so the UI can update the spinners
        setTimeout(function () {
            $(".submit-progress").removeClass("hidden");
        }, 1);
        $("#IsSendAndUpload").val("false");
        $('#TestReport').submit();

        return true;
    }

    function onSendUpload(ctl, msg) {
        
        // Turn off the "Save" button and change text
        $(ctl).prop("disabled", true).text(msg);
        // Gray out background on page
        $("body").addClass("submit-progress-bg");
        // Wrap in setTimeout so the UI can update the spinners
        setTimeout(function () {
            $(".submit-progress").removeClass("hidden");
        }, 1);
        $("#IsSendAndUpload").val("true");
        $('#TestReport').submit();

        return true;
    }
    </script>
    <script src="~/js/customjs.js"></script>
<script>
    function validateForImages(input) {
        const fileSize = input.files[0].size / 1024 / 1024;
        var fileName = input.files[0].name;
        var fileExtension = fileName.split('.').pop();
        switch (fileExtension) {
            case 'jpg':
                break;
            case 'JPG':
                break;
            case 'JPEG':
                break;
            case 'jpeg':
                break;
            case 'png':
                break;
            case 'PNG':
                break;
            case 'XlSX':
                break;
            case 'xlsx':
                break;
            case 'pdf':
                break;
            case 'PDF':
                break;
            default:
                alert('Wrong File Type!');
                $(input).val('');
                break;
        }

    }
</script>