@model TestingAndCalibrationLabs.Web.UI.Models.RecordDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*<div class="row">
    <div class="col beforeLabel">
        <button class="btn width-full" id="tempbtn"></button>
        <label class="labelLabel" for="tempbtn">
            Sample Receiving
        </label>
    </div>
    <div class="col beforeLabel">
        <label class="labelLabel">
            Test Planning
        </label>
    </div>
</div>*@
@*<div class="width-full">
    <div class="step-form">
        <div class="input-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" />
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
        </div>
        <div class="btns-group">
            <a href="#" class="btn btn-primary btn-previous">Previous</a>
            <a href="#" class="btn btn-primary btn-next">Next</a>
        </div>
    </div>
</div>*@

@*<div class="width-full">
    <form class="width-full form ">
        <div class="ProgressBar">
            <div class="ProgressBar-step">
                <button class="">1</button>
            </div>
            <div class="ProgressBar-step">
                <button>2</button>
            </div>
            <div class="ProgressBar-step">
                <button>3</button>
            </div>
            <div class="ProgressBar-step">
                <button>4</button>
            </div>
        </div>
        <div class="width-full form-step form-step-active">
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="text" id="name" placeholder=" " required>
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="text" id="lastName" placeholder=" " required>
                <label class="form-label" for="lastName">Last Name</label>
            </div>
            <div class="width-full row m-0">
                <a class="btn btn-primary col" href="#">Next</a>
            </div>
        </div>
        <div class="width-full form-step">
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="email" id="emailID" placeholder=" " required>
                <label class="form-label" for="emailID">Email ID</label>
            </div>
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="text" id="reEnteredEmailID" placeholder=" " required>
                <label class="form-label" for="reEnteredEmailID">Re-enter Email ID</label>
            </div>
            <div class="width-full row m-0">
                <a class="btn btn-primary col" href="#">Previous</a>
                <a class="btn btn-primary col" href="#">Next</a>
            </div>
        </div>
        <div class="width-full form-step">
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="text" id="name" placeholder=" " required>
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="text" id="name" placeholder=" " required>
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="width-full row m-0">
                <a class="btn btn-primary col" href="#">Previous</a>
                <a class="btn btn-primary col" href="#">Next</a>
            </div>
        </div>
        <div class="width-full form-step">
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="text" id="name" placeholder=" " required>
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="width-full form-element my-2">
                <input class="form-input width-full" type="text" id="name" placeholder=" " required>
                <label class="form-label" for="name">Name</label>
            </div>
            <div class="width-full row m-0">
                <a class="btn btn-primary col" href="#">Previous</a>
            </div>
        </div>
    </form>
</div>*@