
@{
    var value = ViewData["Control"] as DashboardV2;
}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Monthly Recap Report</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                            <a href="#" class="dropdown-item">Something else here</a>
                            <a class="dropdown-divider"></a>
                            <a href="#" class="dropdown-item">Separated link</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
           
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center"id="dateRange">
                            <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                        </p>

                        <div class="chart">
                           
                            <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                        </div>
                        
                    </div>
                   
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Goal Completion</strong>
                        </p>

                        <div class="progress-group">
                            Add Products to Cart
                            <span class="float-right"><b id="cartValue">160</b>/200</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary" style="width: 80%"></div>
                            </div>
                        </div>
                     

                        <div class="progress-group">
                            Complete Purchase
                            <span class="float-right"><b id="purchaseNo">310</b>/400</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger" style="width: 75%"></div>
                            </div>
                        </div>

                        
                        <div class="progress-group">
                            <span class="progress-text">Visit Premium Page</span>
                            <span class="float-right"><b id="PageVisitors">480</b>/800</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success" style="width: 60%"></div>
                            </div>
                        </div>

                        
                        <div class="progress-group">
                            Send Inquiries
                            <span class="float-right"><b id="InquiriesNo">250</b>/500</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-warning" style="width: 50%"></div>
                            </div>
                        </div>
                        
                    </div>
              
                </div>
               
            </div>
            
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-success"id="revenueGrowth"><i class="fas fa-caret-up"></i> 17%</span>
                            <h5 class="description-header"id="revenue">$35,210.43</h5>
                            <span class="description-text">TOTAL REVENUE</span>
                        </div>
                      
                    </div>
                   
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-warning"id="costWarning"><i class="fas fa-caret-left"></i> 0%</span>
                            <h5 class="description-header"id="cost">$10,390.90</h5>
                            <span class="description-text">TOTAL COST</span>
                        </div>
                      
                    </div>
                   
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-success"id="profitPercentage"><i class="fas fa-caret-up"></i> 20%</span>
                    <h5 class="description-header" id="profit">$24,813.53</h5>
                            <span class="description-text">TOTAL PROFIT</span>
                        </div>
                      
                    </div>
                  
                    <div class="col-sm-3 col-6">
                        <div class="description-block">
                            <span class="description-percentage text-danger"id="goalRate"><i class="fas fa-caret-down"></i> 18%</span>
                            <h5 class="description-header">1200</h5>
                            <span class="description-text"id="goal">GOAL COMPLETIONS</span>
                        </div>
                       
                    </div>
                </div>
            </div>
            
        </div>
        
        <script>

    var Data = JSON.parse('@Html.Raw(Json.Serialize(value.RecapModel))');
      
    document.getElementById("revenue").innerHTML = Data.revenue;
    document.getElementById("revenueGrowth").innerHTML = Data.revenueGrowth;

    document.getElementById("cost").innerHTML = Data.cost;
    document.getElementById("costWarning").innerHTML = Data.costWarning;

    document.getElementById("profit").innerHTML = Data.profit;
    document.getElementById("profitPercentage").innerHTML = Data.profitPercentage;

    document.getElementById("goal").innerHTML = Data.goal;
    document.getElementById("goalRate").innerHTML = Data.goalRate;

    document.getElementById("dateRange").innerHTML = Data.dateRange;


    

    document.getElementById("cartValue").innerHTML = Data.cartValue;
    document.getElementById("purchaseNo").innerHTML = Data.purchaseNo;
    document.getElementById("PageVisitors").innerHTML = Data.pageVisitors;
    document.getElementById("InquiriesNo").innerHTML = Data.inquiriesNo;

        </script>
   