
@{
    var value = ViewData["Control"] as DashboardV2;
}
<style>
    .info-box {
        background-color: #343a40;

    }
    .info-box-text{color:white}
    .info-box-number {
        color: white;
    }
</style>
<div class="row" >
        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box" >
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">CPU Traffic</span>
                    <span class="info-box-number" id="Traffic">
                        10
                        <small>%</small>
                    </span>
                </div>
               
            </div>
            
        </div>
       
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Likes</span>
                    <span class="info-box-number" id="Likes">41,410</span>
                </div>
               
            </div>
            
        </div>
       
        

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Sales</span>
                    <span class="info-box-number"id="sales">760</span>
                </div>
               
            </div>
            
        </div>
      
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">New Members</span>
                    <span class="info-box-number" id="new Member">2,000</span>
                </div>
               
            </div>
            
        </div>
       
    </div>

<script>
    var Data = JSON.parse('@Html.Raw(Json.Serialize(value.Box))');
      
    document.getElementById("Traffic").innerHTML = Data.traffic;
    document.getElementById("Likes").innerHTML = Data.likes;
    document.getElementById("sales").innerHTML = Data.sales;
    document.getElementById("new Member").innerHTML = Data.newMember;
</script>
