@model TestingAndCalibrationLabs.Web.UI.Models.ForgotPasswordDTO
@{
    ViewBag.Title = "Forgot Password";

}

<div class="padding-login bg-white d-flex flex-column min-vh-100 justify-content-center align-items-center bg-login" style="margin-bottom:80px;">

    @if (Model.Email!=null)
    {
        @*<div class="alert-alert-success" role="alert">
            <p>We Sent Varification On Your Register EmailID </p>
        </div>*@
        <form asp-action="ValidateOTP" asp-controller="Security" method="post">
        <div class="d-flex justify-content-center fixed-bottom">
            <div class="alert alert-success" role="alert" id="snackbar">
                <svg class="bi flex-shrink-0 me-2" width="34" height="9" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                <span><strong>We Sent OTP Successfully on Your Register Email! Thank You</strong></span>
            </div>
        </div>

        <div class="col-lg-20 col-sm-0 col-xs-0 mt-2 form-element-for-common-control right-pd-frm-input" style="margin:20px;">
            <input class="form-input width-full black-border" style="width:150px;" type="OTP" placeholder=" " name="OTP" asp-validation-for="OTP" , item.IsRequired onchange="this.setAttribute('value',this.value)" maxlength=6 asp-for ="OTP">
            <label class="form-label" style="color:gray;" for=OTP>
                OTP
                <span class="red-color">*</span>

            </label>
        </div>
        <button type="submit" class="btn btn-success text-center btn-block" onclick=" " style="width:80px; margin-left:20px">Submit</button>

       @* <div class="success-msg">
            <i class="fa fa-check"></i>
            We Sent Email On Your Register EmailID
        </div>*@
       </form> 
    }
    else
    {
    <form asp-action="ForgotPassword" asp-controller="Security" method="post">

        <div class="container bg-white" style="max-width:2050px;border-radius:6px;padding:30px;">

            <ul class="nav nav-tabs topnav" id="myTab" role="tablist" style="width:100%;">

                <li class="nav-item login-tab-click" role="presentation" style="width:100%; margin:20px;">
                    <button class="nav-link login-tab-click active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Sign-In" type="button" role="tab" aria-controls="home" aria-selected="true" href="#signInBoot" style="width:100%"><b>FORGOT PASSWORD</b></button>
                </li>
            </ul>

            <div class="col-lg-20 col-sm-0 col-xs-0 mt-2 form-element-for-common-control right-pd-frm-input" style="margin:20px;">
                <input class="form-input width-full black-border" style="width:350px;" type="email" placeholder=" " name="Email" asp-validation-for="Email" , item.IsRequired onchange="this.setAttribute('value',this.value)" asp-for="Email">
                <label class="form-label" style="color:gray;" for=Email>
                    Email
                    <span class="red-color">*</span>

                </label>
            </div>
            <button type="submit" class="btn btn-success text-center btn-block" onclick=" " style="width:80px; margin-left:20px">Submit</button>
          
            @*  <hr />
            <div class="container">
                <div class="row justify-content-md-left">
                    <div class="col-md-5 text-left">
                        <div class="row">
                            <div class="col-sm-10 mt-4 bgWhite">
                                <div class="title">
                                    Enter OTP
                                </div>

                                <form action="" class="mt-5">
                                    <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=6>

                                </form>
                                <hr class="mt-4">
                                <button class='btn btn-primary btn-block mt-2 mb-2 customBtn'>Verify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        </div>
    </form>
    }

</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {

        $("#btnSend").click(function () {
            debugger;
            var email = $("#txtEmail").val();
            $.ajax({
                type: "Post",
                url: "/forgotpassword/sendemail",
                data: { emailto: email },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    debugger;
                    alert(response);
                },
                failure: function (response) {
                    debugger;
                    alert(response.responsetext);
                },
                error: function (response) {
                    debugger;
                    alert(response.responsetext);

                });

        });
    });

</script>
<div>
    <a asp-action="SignIn" asp-controller="Security">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
