@model TestingAndCalibrationLabs.Web.UI.Models.UserDTO

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="padding-login bg-white">
    <form asp-action="Login" asp-controller="Security" method="post">
        <div class="inputWithIcon">
            <input class="inputForSignIn" type="text" asp-for="UserName" placeholder="Username or Email ID">
            <i class="fa fa-user fa-lg fa-fw iconForSignIn" style="top:12px;" aria-hidden="true"></i>
        </div>
        <div class="inputWithIcon">
            <input class="inputForSignIn" type="password" asp-for="Password" placeholder="Password" />
            <i class="fa-solid fa-lock iconForSignIn"></i>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input id="RememberMe" class="" type="checkbox" name="rememberMe" />
            <span>
                <label for="RememberMe">Remember me</label>
            </span>
            <a asp-action="ForgotPassword" class="align-content-end" style="float:right;">Forgot Password?</a>

        </div>
        <input type="button" class="btn btn-success text-center btn-block" onclick="Validate()" value="Sign-In" />
    </form>
    <div class="row">
        <div class="col login-padding-left"><hr></div>
        <div class="col-auto" style="margin-top:3px;">or</div>
        <div class="col login-padding-right"><hr></div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-block" style=" ">
                <a asp-controller="Login" asp-action="LoginWithMicrosoft" class="text-light"> <i class="fab fa-microsoft me-2 float-left"></i>Microsoft</a>
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary btn-block">
                <i class="fa-brands fa-facebook me-2 float-left"></i>Facebook
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button class="btn btn-danger btn-block" style="">
                <a asp-controller="Login" asp-action="Login" class=" text-light ">
                    <i class="fa-brands fa-google me-2 float-left"></i>Google
                </a>
            </button>
        </div>
        <div class="col" style="">
            <button class="btn btn-primary btn-block">
                <i class="fa-brands fa-linkedin me-2 float-left"></i>Linked-In
            </button>
        </div>
    </div>
    <p class="text-center" style="color:green;">Why Create an Account?</p>
    <div>
        <p class=" text-center" style="font-size:12px;margin-bottom:0;">
            By creating the account you agreed to our
            <a style="color:green;">Privacy Policy</a>&
            <a style="color:green;">Cookie Policy</a>
        </p>
    </div>
</div>