@model TestingAndCalibrationLabs.Web.UI.Models.UserDTO

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="padding-login bg-white">
    <form asp-controller="User" asp-action="Add" method="post">
        <div class="inputWithIcon">
            <input class="inputForSignIn" type="text" asp-for="UserName" placeholder="Enter Username">
            <i class="fa-solid fa-user iconForSignIn"></i>
        </div>
        <div class="inputWithIcon">
            <input class="inputForSignIn" type="email" asp-for="Email" placeholder="Enter Email">
            <i class="fa-solid fa-envelope iconForSignIn"></i>
        </div>
        <div class=" inputWithIcon">
            <select class="divOrgSelect" id="org5" name="Orgnizations" asp-items="@ViewBag.Organizations" onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value)">
             </select>
            <label for="org5" class="OrgLabel">Organizations</label>
            <i class="fa-solid fa-sitemap iconForSignIn"></i>
            </div>
        <div class="inputWithIcon">
            <input class="inputForSignIn" type="password" asp-for="Password" placeholder="Enter Password">
            <i class="fa-solid fa-key iconForSignIn"></i>
        </div>
        <div class="inputWithIcon">
            <input class="inputForSignIn" type="password" asp-for="ReEnterPassword" placeholder="Re-Enter Password">
            <i class="fa-solid fa-key iconForSignIn"></i>
        </div>
        <button type="submit" class="btn btn-success text-center btn-block">Sign-Up</button>
    </form>
    <div class="row">
        <div class="col login-padding-left"><hr></div>
        <div class="col-auto" style="margin-top:3px;">or</div>
        <div class="col login-padding-right"><hr></div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-block" style=" ">
                <i class="fab fa-twitter me-2 float-left"></i>Twitter
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary btn-block">
                <i class="fa-brands fa-facebook me-2 float-left"></i>Facebook
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button class="btn btn-danger btn-block" style="">
                <i class="fa-brands fa-google me-2 float-left"></i>Google
            </button>
        </div>
        <div class="col" style="">
            <button class="btn btn-primary btn-block">
                <i class="fa-brands fa-linkedin me-2 float-left"></i>Linked-In
            </button>
        </div>
    </div>
</div>