@model TestingAndCalibrationLabs.Web.UI.Models.ForgotPasswordDTO



<div class="padding-login bg-white d-flex flex-column min-vh-100 justify-content-center align-items-center bg-login" style="margin-bottom:60px;">

    <div class="container bg-white" style="max-width:450px;border-radius:5px;padding:10px;">

        <ul class="nav nav-tabs topnav" id="myTab" role="tablist" style="width:100%;">

            <li class="nav-item login-tab-click" role="presentation" style="width:100%; margin:20px;">
                <button class="nav-link login-tab-click active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Sign-In" type="button" role="tab" aria-controls="home" aria-selected="true" href="#signInBoot" style="width:100%"><b>RESET PASSWORD</b></button>
            </li>
        </ul>

        <div class="col-lg-12 col-sm-0 col-xs-0 mt-2 form-element-for-common-control right-pd-frm-input">
            <input class="form-input width-full black-border" type="password" id="NewPassword"  placeholder=" " name="NewPassword" item.IsRequired onchange="this.setAttribute('value',this.value)">
            <label class="form-label" style="color:gray;" for=NewPassword>
                NewPassword
                <span class="red-color">*</span>

            </label>
        </div>

        <div class="col-lg-12 col-sm-0 col-xs-0 mt-2 form-element-for-common-control right-pd-frm-input">
            <input class="form-input width-full black-border" type="password" id="ConfirmPassword" placeholder=" " name="ConfirmPassword" item.IsRequired onchange="this.setAttribute('value',this.value)">
            <label class="form-label" style="color:gray;" for=ConfirmPassword>
                ConfirmPassword
                <span class="red-color">*</span>

            </label>
        </div>

        <button type="submit" class="btn btn-success text-center btn-block" onclick="password()" style="width:100px; margin-top:20px; margin-left:60px">Save</button>

        <button type="submit" class="btn btn-success text-center btn-block" onclick="clearFields()" style="width:100px;margin-top:20px;background-color:tomato;margin-left:60px;">Cancel</button>

    </div>
</div>