@model TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO
@{
    ViewData["Title"] = "Create";
}
<h1>Ui Page Metadata</h1>
<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" _lpchecked="1" class="mb-2" id="pageForm" method="post" asp-controller="UiPageMetadata" novalidate>
            <div asp-validation-summary="All"></div>
            <div class="row ms-1 me-1">
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <select class="form-input " name="UiControlCategoryTypeId" id="UiControlCategoryType" onchange="this.setAttribute('value',this.value)" asp-for="UiControlCategoryTypeId">
                        <option disabled="disabled" selected>Select ControlCategory ...</option>
                        @foreach (var item in ViewBag.UiControlCategoryType)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </select>
                    <label class="form-label" for="UiControlCategoryTypeId"></label>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                    <label for="UiControlTypeId" class="form-label"></label>
                    <select class="form-input " name="UiControlTypeId" id="UiControlType" onchange="this.setAttribute('value',this.value)" asp-for="UiControlTypeId">
                        <option disabled="disabled" selected>Select Control ...</option>
                        @foreach (var item in ViewBag.UiControlTypes)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control   right-pd-input">
                    <label for="DataType" class="form-label"></label>
                    <select class="form-input" name="DataTypeId" id="DataType" onchange="this.setAttribute('value',this.value)" asp-for="DataTypeId">
                        <option disabled="disabled" selected>Select Data Type ...</option>
                        @foreach (var item in ViewBag.DataTypes)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </select>
                </div>
                <div class="row ms-1 me-1">
                <div class="col-lg-3 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsRequired" />
                        @Html.DisplayNameFor(model => model.IsRequired)
                    </label>
                </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input">
                    <input class="form-input width-full black-border" type="text" id="UiControlDisplayName" name="UiControlDisplayName" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="UiControlDisplayName">
                    <label class="form-label" for="UiControlDisplayName">UiControlDisplayName</label>
                </div>
                <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input">
                    <input type="submit" value="Create" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
