@model TestingAndCalibrationLabs.Web.UI.Models.Common.IndexPageDTO
@{
    ViewData["Title"] = Model.PageTitle;
}
<h1>@Model.PageTitle</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
   @await Html.PartialAsync("~/Views/Common/Components/Grid/Backoffice/_gridtemplate.cshtml", Model.GridData)
</div>

 @if (ViewBag.IsSuccess != null && ViewBag.IsSuccess)
 {
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="d-flex justify-content-center fixed-bottom">
        <div class="alert alert-success" role="alert" id="snackbar">
            <svg class="bi flex-shrink-0 me-2" width="34" height="9" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <span><strong style="font-size:14px;">Changes saved successfully!! Thank you.</strong></span>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var plus = '<i class="fa fa-plus icon-plus"></i>';
        $("#gridui_filter").append(plus);
        $(".icon-plus").click(function () {
            window.location.href = "/uipagemetadata/create";
        });
    });
</script>

   