@model TestingAndCalibrationLabs.Web.UI.Models.QueryBuilderRecordDTO

@{
    ViewData["Title"] = "QueryBuilder";
}
<h1>Query Builder</h1>

<div class="container">

    <div class="row g-3">
       <div class="col-sm-4"> 
@*<div class="accordion accordion-flush" id="accordionFlushExample">*@
    @*<div class="querybuilderboarderContainer">*@
@foreach (var item in Model.FieldValues)
{
    <div class="row ms-1 me-1">
     <div class="accordion-item">
     <h6 class="accordion-header" id="flush-@item.Key.tableName">
      <label class="accordion-button collapsed" type="checkbox" data-bs-toggle="collapse" data-bs-target="#flush-@item.Key.tableName@item.Value.Count" aria-expanded="true" aria-controls="flush-@item.Key.tableName@item.Value.Count">  </label>
      <input id= "flush-@item.Key.tableName" value="@item.Key.tableName" class="checkBoxExpand" type="checkbox"/> @Html.DisplayFor(tables => item.Key.tableName)  
 
  </h6>
    @foreach(var values in item.Value)
{
    <div id="flush-@item.Key.tableName@item.Value.Count" class="accordion-collapse collapse" aria-labelledby="flush-@item.Key.tableName" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> <input type="checkbox" data-select-all="flush-@item.Key.tableName@item.Value.Count" value="@values.coloumnName"/><code>@Html.DisplayFor(colNames =>values.coloumnName)</code></div>
    </div>
    }
  </div>
  </div>
  }
  @*</div>*@
@*</div>*@

</div>
<div class="col">
        <div class="row g-3">
            <div class="col-sm"><h6>Expression</h6>
                <div id="checkboxName"></div>
                </div>
                <div class="col-sm"><h6>Title</h6> 
                    <div id="checkboxvalue"></div>
                </div>
            </div>
    </div>    
<div class="row g-3">
    <div class="col-sm"> 
<button type="button" class="btn btn-primary">Clear</button>
</div>
     <div class="col-sm-9"> 
 <input type="button" id="addcolbtn" value="Add Columns" class="btn btn-primary mt-3" onclick="getSelectedCheckboxesArray()" />
</div>
</div> 
</div>
</div>

<script type="text/javascript">
    $("input[id]").click(function() {
   if (this.checked) {
       $("input[data-select-all]").each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});

function getSelectedCheckboxesArray(){     
 var array = []
var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
for (var i = 0; i < checkboxes.length; i++) {
  array.push(checkboxes[i].value)
  document.getElementById('checkboxvalue').innerHTML += '<a href="'+checkboxes[i].value+'">'+checkboxes[i].value+'</a></br>';
}
//document.getElementById("checkboxvalue").innerHTML = array;
debugger;
}
</script>

<style>
.querybuilderboarderContainer{
    background: #f6f6f6;
    border: 10px solid green;
    padding: 200px;
    display: flex;
    flex-direction: column;
    }
  .panel-heading{    
       padding: 0px; 
   }
    </style>
