@model TestingAndCalibrationLabs.Web.UI.Models.UiControlCategoryTypeDTO
@{
    ViewData["Title"] = "Create";
}
<h1>Ui Control Category Type</h1>
<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" _lpchecked="1" class="mb-2" id="conForm" method="post" asp-controller="UiControlCategoryType" novalidate>
            <div asp-validation-summary="All"></div>
            @Html.HiddenFor(Model => Model.Id)
            <div class="row ms-1 me-1">
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                    <input class="form-input width-full black-border" type="text" id="Name" name="Name" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Name">
                    <label class="form-label" for="Name">Name</label>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input" style=" margin-bottom:5px;">
                    <input class="form-input width-full black-border" type="text" id="Template" name="Template" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Template">
                    <label class="form-label" for="Template">Template</label>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control" style="padding-left:10px; padding-bottom:5px;">

                    <select class="form-input width-full" name="UiControlTypeId" id="UiControlTypeName" onchange="this.setAttribute('value',this.value)" asp-for="UiControlTypeId">
                        <option disabled="disabled" selected>...</option>
                        @foreach (var item in ViewBag.UiControlTypeName)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </select>
                    <label for="UiControlTypeName" class="form-label">UiControlTypeId</label>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input" style=" margin-bottom:5px;">
                    <input type="submit" value="Create" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}