@model TestingAndCalibrationLabs.Web.UI.Models.UiNavigationCategoryDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Ui Navigation Category </h1>
<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" _lpchecked="1" class="mb-2" id="pageForm" method="post" asp-controller="UiPageNavigationCategory" novalidate>
            <div asp-validation-summary="All"></div>
            <div class="row ms-1 me-1">
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input" >
                    <input class="form-input width-full black-border" type="text" id="Name" name="Name" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Name">
                    <label class="form-label" for="Name">Name</label>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input" >
                    <input class="form-input width-full black-border" type="text" id="Orders" name="Orders" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Orders">
                    <label class="form-label" for="Orders">Orders</label>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input" >
                    <input class="form-input width-full black-border" type="text" id="Orders" name="IconName" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="IconName">
                    <label class="form-label" for="IconName">IconName</label>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element-for-common-control right-pd-frm-input">
                    <select class="form-input width-full black-border " name="NavigationTypeId" id="NavigationType" onchange="this.setAttribute('value',this.value)" asp-for="NavigationTypeId">
                        <option disabled="disabled" selected>Select Navigation ...</option>

                    </select>
                    <label for="NavigationTypeId" class="form-label">
                        NavigationType
                    </label>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 mt-3 form-element right-pd-frm-input" style=" margin-bottom:5px;">
                    <input type="submit" value="Create" class="btn btn-lg btn-submit-print text-white" style=" background-color:#4250b5;" onclick="return DisplayProgressMessage(this, 'Saving...');" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">

    $(document).ready(function () {
       
        var lookupCategoryId = 1009;
        $.ajax({
            type: "POST",
            url: "@Url.Action("LookupByCategoryId","Lookup")",
            data: {lookupCategoryId: 1009}, 
            success: function (response) {
                var selectElement = document.getElementById('NavigationType');
                response.forEach(function (option) {
                    
                    var optionElement = document.createElement('option');
                    optionElement.value = option.id;
                    optionElement.text = option.name;
                    selectElement.appendChild(optionElement);
                });
            }
        });
    }); 

</script>