@model TestingAndCalibrationLabs.Web.UI.Models.UiPageValidation.UiPageValidationModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UiPageValidationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <label for="UiPageName">Select Page:</label>

            <select asp-for="UiPageId">
               @foreach (var item in ViewBag.Page)
              {
                  
                   <option value=@item.PageId>@item.PageName</option>
              }
            </select>
           
            <label for="UiMetadataName">Select Metadata:</label>

            <select asp-for="UiPageMetadataId">
               @foreach (var item in ViewBag.Metadata)
              {
                  
                   <option value=@item.MetadataId>@item.MetadataName</option>
              }
            </select>
           
            <label for="UiPageValidationName">Select Validation Type:</label>

            <select asp-for="UiPageValidationId">
               @foreach (var item in ViewBag.Val)
              {
                  
                   <option value=@item.ValId>@item.ValName</option>
              }
            </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
