
<style>
    

    .jqvmap-zoomin,.jqvmap-zoomout {
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: .25rem;
        color: #444;
        height: 15px;
        width: 15px;
        padding: 1px 2px;
    }
    </style>
<div class="card bg-gradient-primary">
    <div class="card-header border-0">
        <h3 class="card-title">
            <i class="fas fa-map-marker-alt mr-1"></i>
            Visitors
        </h3>
        
        <div class="card-tools">
            <button type="button" class="btn btn-primary btn-sm daterange" title="Date range">
                <i class="far fa-calendar-alt"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
        
    </div>
    <div class="card-body">
        <div id="world-map" style="height: 250px; width: 100%;"></div>
    </div>
    <div class="card-footer bg-transparent">
        <div class="row">
            <div class="col-4 text-center">
                <div id="sparkline-1"></div>
                <div class="text-white">Visitors</div>
            </div>
            <div class="col-4 text-center">
                <div id="sparkline-2"></div>
                <div class="text-white">Online</div>
            </div>
            <div class="col-4 text-center">
                <div id="sparkline-3"></div>
                <div class="text-white">Sales</div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "POST",
        url: "@Url.Action("Map","Dashboard")",
        success: function (MapData) {
            $(function () {

               
                

                
                var visitorsData = MapData.countryData
               
               
                $('#world-map').vectorMap({
                    map: 'usa_en',
                    backgroundColor: 'transparent',
                    regionStyle: {
                        initial: {
                            fill: 'rgba(255, 255, 255, 0.7)',
                            'fill-opacity': 1,
                            stroke: 'rgba(0,0,0,.2)',
                            'stroke-width': 1,
                            'stroke-opacity': 1
                        }
                    },
                    series: {
                        regions: [{
                            values: visitorsData,
                            scale: ['#ffffff', '#0154ad'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    onRegionLabelShow: function (e, el, code) {
                        if (typeof visitorsData[code] !== 'undefined') {
                            el.html(el.html() + ': ' + visitorsData[code] + ' new visitors')
                        }
                    }
                })
                
                $('.daterange').daterangepicker({
                    ranges: {
                        Today: [moment(), moment()],
                        Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                }, function (start, end) {

                    alert('You chose: ' + start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                })
                // Sparkline charts
                //var sparkline1 = new Sparkline($('#sparkline-1')[0], { width: 80, height: 50, lineColor: '#92c1dc', endColor: '#ebf4f9' })
                //var sparkline2 = new Sparkline($('#sparkline-2')[0], { width: 80, height: 50, lineColor: '#92c1dc', endColor: '#ebf4f9' })
                //var sparkline3 = new Sparkline($('#sparkline-3')[0], { width: 80, height: 50, lineColor: '#92c1dc', endColor: '#ebf4f9' })

                //sparkline1.draw([1000, 1200, 920, 927, 931, 1027, 819, 930, 1021])
                //sparkline2.draw([515, 519, 520, 522, 652, 810, 370, 627, 319, 630, 921])
                //sparkline3.draw([15, 19, 20, 22, 33, 27, 31, 27, 19, 30, 21])

            })

        }

    });
   
</script>