

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            To Do List
        </h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <ul class="todo-list" data-widget="todo-list" id="ToDoList">
        </ul>
    </div>
    <div class="card-footer clearfix">
        <button type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add item</button>
    </div>
</div>


<script>
    $.ajax({
        type: "POST",
        url: "@Url.Action("TODO_List","Dashboard")",
        success: function (data) {
            for (item = 0; item < data.toDo.length; item++) {

                let Element = document.getElementById('ToDoList');
                let List = document.createElement('li');

                let HandleClass = document.createElement('span');
                HandleClass.className = "handle";


                let LineDot = document.createElement('i');
                LineDot.className = "fas fa-ellipsis-v";
                HandleClass.appendChild(LineDot);


                let LineDot2 = document.createElement('i');
                LineDot2.className = "fas fa-ellipsis-v";
                HandleClass.appendChild(LineDot2);

                List.appendChild(HandleClass);


                let DivBox = document.createElement('div');
                DivBox.className = "icheck-primary d-inline ml-2";

                let box = document.createElement('input');
                box.type = "checkbox";
                box.id = "todoCheck" + (item + 1);
                DivBox.appendChild(box);

                var label = document.createElement('label');
                label.for = "todoCheck" + (item + 1);
                DivBox.appendChild(label);

                DivBox.appendChild(label);

                List.appendChild(DivBox);


                let info = document.createElement('span');
                info.className = "text";
                info.innerHTML = data.toDo[item];

                List.appendChild(info);


                let size = document.createElement("small");
                size.className = data.status[item];

                let clockClass = document.createElement("i");
                clockClass.className = "far fa-clock";
                clockClass.innerHTML = data.time[item];

                size.appendChild(clockClass);

                List.appendChild(size);

                let ToolDiv = document.createElement('div');
                ToolDiv.className = "tools";

                let ToolEdit = document.createElement('i');
                ToolEdit.className = "fas fa-edit";
                let Tooltrash = document.createElement('i');
                Tooltrash.className = "fas fa-trash-o";

                ToolDiv.appendChild(ToolEdit);
                ToolDiv.appendChild(Tooltrash);

                List.appendChild(ToolDiv);

                Element.appendChild(List);

            }
            

        }

    });

    
</script>



