<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> AditiBeautyCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="~/css/Login.css" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-utilities.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/23b93d01d8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.esm.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Times New Roman';
        }



        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem; /* Footer height */
        }



        /* .dropdown-item {
                        display: block;
                        align-items: center;
                        float: none;
                        }*/



        /* .dropdown-menu a:hover {
                        background-color: lightpink;
                        }*/



        /*nav ul li:hover a {
                        background-color: whitesmoke;
                        text-transform: uppercase;
                        color: black;
                        }*/




        /*.dropdown {
                        position: relative;
                        display: inline-block;
                        }



                        .dropdown-menu {
                        display: none;
                        position: absolute;
                        background-color: lightgoldenrodyellow;
                        min-width: 200px;
                        box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        }*/



        /*.dropdown-item a {
                        color: blue;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        }



                        .dropdown:hover .dropdown-menu {
                        display: block;
                        }*/
        /*
                        .nav .active {
                        color: red;
                        background-color:blue;
                        }*/
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/Image/Aditi_logo.jpg" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search_box">
                <input type="search" placeholder="Search" />
                <span class="fa fa-search"></span>
            </div>
            <ul class="navbar-nav ml-5 ml-5 flex-grow-5 align-items-center">



                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>



                <li class="nav-item ">
                    <a class="nav-link" asp-action="adminDashboard" asp-controller="BeautyCareService">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="Index" asp-controller="BeautyCareService">Book Service</a>
                        <a class="dropdown-item" asp-action="adminAddService" asp-controller="BeautyCareService">Add Services</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>



                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Onine
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="home/product">Product</a>
                    <a class="dropdown-item" href="home/services">Services</a>
                    <a class="dropdown-item" href="#">Book Slot</a>
                    <a class="dropdown-item" asp-area="" asp-action="PlanPricing" asp-controller="Home">Plan & Pricing</a>
                    </div>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link " href="#">About</a>
                </li>
                <!--Coommented the dropdown below -->
                <li class="nav-item">
                    <a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact</a>
                </li>



                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Get In Touch
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Link1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                    </li>*@
                <li class="nav-link">
                    <a asp-action="Login" asp-controller="Home" class="fas fa-user-circle "></a>
                </li>
                <li class="nav-link">
                    <a href="#" class="fa fa-shopping-cart"></a>
                </li>
            </ul>
        </div>
    </nav>

    



    <div>
        @RenderBody()
    </div>



    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div>
        <footer id="footer"></footer>
        <!-- Footer -->
        <div id="footer">
            <footer class="text-center text-lg-start text-white"
                    style="background-color: #3e4551">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <hr class="mb-4" />
                    <!-- Section: CTA -->
                    <section class="">
                        <p class="d-flex justify-content-center align-items-center">
                            <span class="me-3">Register for free</span>
                            <button type="button" class="btn btn-outline-light btn-rounded">
                                Sign up!
                            </button>
                        </p>
                    </section>
                    <!-- Section: CTA -->
                    <hr class="mb-4" />
                    <!-- Section: Social media -->
                    <section class="mb-4 text-center">
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           href="#!"
                           role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           href="#!"
                           role="button">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!-- Google -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           href="#!"
                           role="button">
                            <i class="fab fa-google"></i>
                        </a>
                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           href="#!"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <!-- Linkedin -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           href="#!"
                           role="button">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <!-- Github -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           href="#!"
                           role="button">
                            <i class="fab fa-github"></i>
                        </a>
                    </section>
                    <!-- Section: Social media -->
                </div>
                <!-- Grid container -->
                <!-- Copyright -->
                <div class="text-center p-3"
                     style="background-color: rgba(0, 0, 0, 0.2)">
                    © 2022 Copyright:
                    <a class="text-white" href="#">Aditi Beauti Care</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </div>
    </div>
</body>
</html>