@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="newsstripID"></div>

<script>
    $(document).ready(function () {
        var url = "@Url.Action("NewsStripTicker","Home")";
        var idNum = "#newsstripID";
        $(idNum).load(url);
    });
</script>