
<div class="d-flex justify-content-center fixed-bottom">
    <div class="alert alert-success" role="alert" id="snackbar">
        <svg class="bi flex-shrink-0 me-2" width="34" height="9" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <span><strong style="font-size:14px;">@Model</strong></span>
    </div>
</div>

