@model TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO
<div class="row ms-1 me-1">
    <div class="form-group">
        <input type="button" id="createbtn" value="Create" class="btn btn-primary mt-3" onclick="AjaxFormSubmit()" />
    </div>
</div>