@{
    ViewData["Title"] = "Plan&Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestDetails</title>

    <!--Importing the Bootsrap5 link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Importng the CSS Files-->
    <link rel="stylesheet" href="~/css/TestDetails.css" />


    <!---Importing the Bootsrap5 Scripts--->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body style="font-family:'Roboto';">
    <form class="mb-2 ">
        <div class="row ms-1 me-1">

            <div class="col-lg-12 col-sm-6 mt-2 form-element left-pd-input d-block d-sm-none" style="text-align:right;">
                <button class="btn btn-submit-print text-white width-full" type="button" style="background-color:#4250b5;height:100%;">SUBMIT AND PRINT RECEPT</button>
            </div>
            <div class="col-lg-6 col-sm-6 mt-2 form-element right-pd-input">
                <input class="form-input width-full" type="number" id="jobSerialNumber" placeholder=" " onchange="this.setAttribute('value',this.value)" required>
                <label class="form-label" for="jobSerialNumber">Job Serial NO:</label>
            </div>
            <div class="col-lg-6 col-sm-6 mt-2 form-element left-pd-input d-none d-sm-block" style="text-align:right;">
                <button class="btn btn-submit-print text-white" type="button" style="background-color:#4250b5;height:100%;">SUBMIT AND PRINT RECEPT</button>
            </div>

            <div class="col-lg-6 col-sm-6 mt-2 form-element right-pd-input">
                <input class="form-input width-full" type="text" id="departMentName" placeholder=" " onchange="this.setAttribute('value',this.value)" required>
                <label class="form-label" for="departMentName">Department Name:</label>
            </div>
            <div class="col-lg-6 col-sm-6 mt-2 form-element right-pd-input left-pd-input">
                <input class="form-input width-full" type="text" id="customerName" placeholder=" " onchange="this.setAttribute('value',this.value)" required>
                <label class="form-label" for="customerName">Customer Name:</label>
            </div>
            <div class="col-lg-6 col-sm-6 mt-2 form-element left-pd-input">
                <input class="form-input width-full" type="text" id="issueTo" placeholder=" " onchange="this.setAttribute('value',this.value)" required>
                <label class="form-label" for="issueTo">Issue To:</label>
            </div>

            <div class="col-lg-6 col-sm-6 mt-2 form-element right-pd-input">
                <input class="form-input width-full" type="date" id="receivedOn" placeholder=" " required>
                <label class="form-label" for="receivedOn">Received On:</label>
            </div>
            <div class="col-lg-6 col-sm-6 mt-2 form-element right-pd-input left-pd-input">
                <input class="form-input width-full" type="number" id="jobOrderNoOrRefNo" placeholder=" " required>
                <label class="form-label" for="jobOrderNoOrRefNo">Job Order No/Ref NO:</label>
            </div>
            <div class="col-lg-6 col-sm-6 mt-2 form-element right-pd-input left-pd-input">
                <input class="form-input width-full" type="text" id="contactPersonName" placeholder=" " required>
                <label class="form-label" for="contactPersonName">Contact Person Name:</label>
            </div>
            <div class="col-lg-6 col-sm-6 mt-2 form-element left-pd-input">
                <input class="form-input width-full" type="number" id="mobileNumber" placeholder=" " required>
                <label class="form-label" for="mobileNumber">Mobile Number:</label>
            </div>

            <div class="col-lg-6 col-sm-6 mt-2 form-element right-pd-input">
                <input class="form-input width-full" type="date" id="testReportReleaseDate" placeholder=" " required>
                <label class="form-label" for="testReportReleaseDate">Test Report Release Date:</label>
            </div>
            <div class="col-lg-12 col-sm-12 mt-2 form-element left-pd-input">
                <input class="form-input width-full" type="text" id="anyOtherSpecificRequirement" placeholder=" " required>
                <label class="form-label" for="anyOtherSpecificRequirement">Any Other Specific Requirement:</label>
            </div>
        </div>
    </form>

    <form class="mb-2 me-1 ms-1 row">
        <div class="col-12 mb-2">
            <label style="padding-left:20px;">Testing Material:</label>
        </div>
        <div class="container container-testing-material width-full d-flex col-12 mb-2" onclick="">
            <div class="testing-material-chips inline-block m-1">
                <div class="container container-chip">
                    <label>hello</label>
                    <label></label>
                </div>
            </div>
            <div class="testing-material-chips inline-block m-1">
                <div class="container container-chip">
                    <label draggable="true">hello world</label>
                    <label></label>
                </div>
            </div>
        </div>
    </form>

    <form class="mb-2 me-1 m-sm-1 row">
        <div class="col-12">
            <input type="file" multiple required />

        </div>
    </form>


    @*
        <div class="col-12 mb-2">
        <label style="padding-left:20px;">Attachments</label>
        </div>
        <div class="container container-testing-material col-12" id="fileDragAndDrop" style="border:1px solid red;">
        <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        </form>
        \
        </div>

    <form class="mb-2 me-1 ms-1 row">
        <div class="col-12 mb-2">
            <label style="padding-left:20px;">Testing Material:</label>
        </div>
        <div class="container container-testing-material width-full d-flex col-12 mb-2" onclick="">
            <div class="testing-material-chips inline-block m-1">
                <div class="container container-chip">
                    <label>hello
                        <span class="cross-for-chip">×</span>
                    </label>
                    <label></label>
                </div>
            </div>
            <div class="testing-material-chips inline-block m-1">
                <div class="container container-chip">
                    <label draggable="true">hello world</label>
                    <label></label>
                </div>
            </div>
        </div>
    </form>*@


  @*  <form class="mb-2 me-1 ms-1 row" id="myform" method="post">
        <div class="col-12 mb-2">
            <label style="padding-left:20px;">Attachments:</label>
        </div>
        <div class="col-12 " style="background: #ced4da;">
            <input class="input-file input-hide" type="file" id="files" multiple name="files[]" />
            <label for="files" class="filename " style="width:100%;text-align: center;height:60px;">
                Drag & Drop your files or Browse
            </label>
            
        </div>
    </form>*@

   @* <div class="">
        <input multiple class="width-full input-file input-hide" type="file"onclick="readfile()" onchange="readURL(this);" />
        <div class="text-center width-full filename before-file-upload">
            <h2>Drag and drop your files</h2>
        </div>
        <div class="width-full filename after-file-upload" style="background: #ced4da;">
            <!--code for the chips-->
            <div class="container container-testing-material width-full d-flex col-12 mb-2 text-center" onclick="">
            <div class="testing-material-chips inline-block m-1">
                <div class="container container-chip">
                    <label>hello</label>
                     <span onclick="removefile()">
                        ×
                    </span>
                </div>
            </div>
            <div class="testing-material-chips inline-block m-1">
                <div class="container container-chip">
                    <label draggable="true">hello world</label>
                    <span onclick="removefile()">
                        ×
                    </span>
                </div>
            </div>
        </div>
        </div>
    </div>*@

    @*<div class="" style="margin-bottom:80px;">
    <div class="container container-testing-material width-full d-flex col-12 mb-2" onclick="" id="chipInTheFileUpload"></div>
    </div>*@

    @*<script>
        function readfile(){
        $('.before-file-upload').hide();
        $('.after-file-upload').show();
        }
        //var filenyames=[]
        //function readURL(input) {
        //    $('.before-file-upload').hide();
        //    $('.after-file-upload').show();
        //     var filenames = []
        //    $("input:file").change(function () {
        //    var temp=[]
        //     temp = $.map(this.files, function (file) {
        //        if(filenames.includes(file.name)){
        //        }
        //        else{
        //            return file.name;
        //        }
        //    })
        //    filenames = filenames.concat(temp)
        //    console.log(filenames)
        //}

        //var filenames = []
        //$("input:file").change(function () {
        //    var temp=[]
        //     temp = $.map(this.files, function (file) {
        //        if(filenames.includes(file.name)){
        //        }
        //        else{
        //            return file.name;
        //        }
        //    })
        //    filenames = filenames.concat(temp)
        //    temp.map(function (file) {
        //        var txt1 = $(`<div class="testing-material-chips inline-block m-1"></div>`)
        //    var txt2 = $(`<div class="container container-chip"></div>`).append(`<label></label>`).append(file)
        //    txt1.append(txt2)
        //    $("#chipInTheFileUpload").append(txt1);
        //    })
        //        console.log(filenames)
        //    //$(".filename").html(filenames.join(' , '));
        //});




                //$('.input-hide').on("Change",function () {
                //    var fileName=$(this).val().split("\\").pop();

                //    $(this).next('.upload-label').html(fileName);

                //    var fileLabel =$(this).next
                //    var files=$(this).files;
                //    if(files.length > 1){
                //        fileLabel.html(files.length+'files selected');
                //    }
                //    else if(files.length ==1){
                //        fileLabel.html(files[0].name);
                //    }
                //});


        //        document.getElementById('files').addEventListener('change', function(e) {
        //  var list = document.getElementById('filelist');
        //  list.innerHTML = '';
        //  for (var i = 0; i < this.files.length; i++) {
        //    list.innerHTML += (i + 1) + '. ' + this.files[i].name + '\n';
        //  }
        //  if (list.innerHTML == '') list.style.display = 'none';
        //  else list.style.display = 'block';
        //});

        
        //$("input:file").change(function () {
        //    var filenames = $.map(this.files, function (file) {
        //        return file.name;
        //    });
        //    $(".filename").html(filenames.join(', '));
        //});

    </script>*@

</body>

</html>