@model TestingAndCalibrationLabs.Web.UI.Models.WorkflowActivityDTO

@{
    ViewData["Title"] = "Create";

}

<h1>WorkflowActivity</h1>

<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input">
                <input class="form-input width-full black-border" type="text" id="Name" name="Name" placeholder=" " onchange="this.setAttribute('value',this.value)" asp-for="Name">
                <label class="form-label" for="Name">Name</label>
            </div>

            <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                <label for="WorkflowStageId" class="form-label"></label>
                <select class="form-input " name="WorkflowStageId" id="WorkflowStageId" onchange="this.setAttribute('value',this.value)" asp-for="WorkflowStageId">
                    <option disabled="disabled" selected>WorkflowStage ...</option>
                    @foreach (var item in ViewBag.WorkflowStage)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-lg-8  col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-input">
                <label for="ActivityId" class="form-label"></label>
                <select class="form-input " name="ActivityId" id="ActivityId" onchange="this.setAttribute('value',this.value)" asp-for="ActivityId">
                    <option disabled="disabled" selected>Activity ...</option>
                    @foreach (var item in ViewBag.Activity)
                    {
                      <option value=@item.Id>@item.Name</option>      
                    }

                </select>
            </div>
          
            <div class="col-lg-8 col-sm-12 col-xs-12 mt-3 form-element-for-common-control  right-pd-frm-input">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
