


.bottom-navigation {
    display: none;  
}


@media only screen and (max-width: 500px) {
    .bottom-navigation {
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        position: fixed; 
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 5px;
        box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
       /* overflow-y: visible;*/
    }
}

.bottom-navigation a {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.bottom-navigation a i {
    margin-bottom: 50px;
}


.bottom-navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.bottom-navigation li {  /*-- for text align*/
    flex: 1;
    text-align: center;
}

.bottom-navigation a { /*--for text color and text spacing*/
   /* display: block;*/
    padding: 1px;
    color: #333;
    text-decoration: none;
    text-align: left;
   
}

.bottom-navigation i { /* -- for icon size and space between icon and text */
    font-size: 20px;
    margin-bottom: 1px;
    display: block;
    text-align: center;
    
}


/*.kebab for bottom-navigation 
{
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    top: 12px;

    figure{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: $cyan;
    margin: 3px 0;
          }
}
*/




.test:after {             /* this is my three vertical dots*/
    content: '\2807';
    font-size: 40px;
    color: #000000;
}

@media only screen and (max-width: 500px) {
    .list-menu {
        display: none !important;
        height: 85%;
        
        position: fixed !important;
        transform: translateX(-50px) !important;
        transition: left 0.5s ease-in-out !important;
        min-width: 250px !important;
        
        padding: 10px 30px !important;
        margin-bottom: 40px;
        background-color: #2f3640; /*greyish color*/
    }
}

#openlist-menu::after#list-menu{
    transform: translateX(0px);
}

.list-menu a { /* for keeping all angel tag navbar up down and left right padding */
    color: silver !important; /* --white color*/
    display: block;
    padding: 0px 0px 2px 5px;
    text-decoration: none;
    padding-bottom: 20px;
    transition: background-color 0.5s ease-in-out;
    
    font-size: 20px;
}



    .list-menu a:hover {
        color: blue !important;
        cursor: pointer !important;
        
    }


    @media only screen and (max-width: 500px) {   /* for  margin space left and bottom of navbar text*/
        .list-menu.show {
            display: block !important;
            margin-bottom: 460px !important;
            margin-left: 450px !important;
           
        }
    }   







.test list menu-container {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    color: #808080;
}








#NavbarMenu {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.iconPhone {
                          /* Define the icon's color here */
    color:forestgreen;    /* Example color: green */
}


.iconFacebook {
    color:blue;
}
 
.iconEmail{
  color:orangered;
}



.iconContactUs {
    color: hotpink;
}




