/*@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);*/



.notification-ui a:after {
    display: none;
}

 /*BellIcon Style*/ 
.notification-ui_icon.fa-bell {
    position: relative;
    cursor: pointer;
    border-radius: 50px;
}
 
/*  For Position Notification content*/
@media (min-width: 900px) {

    .notification-ui_dd {
        min-width: 400px;
        position: absolute;
        left: -1012%;
        top: 58px;
    }
}

.notification-ui_dd {
    
    padding: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
    border: 0;
    max-width: 350px;
    min-height: 150px;
    
}



 /* Notification Body  Header Part   */
    .notification-ui_dd .notification-ui_dd-header {
        border-bottom: 3px solid #ddd;
        padding: 10px;
    }

        /*      form Notification header */ 
       .notification-ui_dd .notification-ui_dd-header h3 {
            margin-bottom: 0;
        }

 /*for NotificationList Content sizing*/
    .notification-ui_dd .notification-ui_dd-content {
        
        max-height: 400px;
        min-width: 350px;
        overflow: auto;
    }
    /*For sizing The list of Notification*/
.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 25px;
    border-bottom: 1px solid #ddd;
  
}
    /* style of the notification list*/
    .notification-list .notification-list_detail p {
        margin-bottom: 5px;
        line-height: 1.2;
        color: red;
    }

    /*for display of Content*/
.notification-list_detail p {
    display: inline;
}

/*form BadgeIcon*/
.fa-bell__badge {
    position: absolute;
    top: -0.3px;
    right: -1.7px;
    width: 17px;
    height: 15px;
    background: red;
    color: white;
    font: normal;
    border-radius: 60%;
    text-align: center;
    font-size: x-small;
}
