#snackbarsuccess {
    visibility: hidden;
    margin-bottom: 70px;
    width: 400px;
    padding: 14px;
    font-size: 16px;
}
  
/*snackbarsuccessMail*/
#snackbarsuccessMail {
    visibility: hidden;
    margin-bottom: 70px;
    width: 400px;
    padding: 14px;
    font-size: 16px;
}

.css-1lgz3mj {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(56, 142, 60);*/
    display: flex;
    padding: 6px 16px;
    color: rgb(255, 255, 255);*/
}       
    #snackbarsuccess.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

#snackbarsuccessMail.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarerror {
    visibility: hidden;
    margin-bottom: 70px;
    width: 400px;
    padding: 14px;
    font-size: 18px;
}

.css-1ufabz4 {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(211, 47, 47);
    display: flex;
    padding: 6px 16px;
    color: rgb(255, 255, 255);
}

.css-1l54tgj {
    margin-right: 12px;
    padding: 7px 0px;
    display: flex;
    font-size: 22px;
    opacity: 0.9;
}

.css-1xsto0d {
    padding: 8px 0px;
    min-width: 0px;
    overflow: auto;
}

.css-1cw4hi4 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
}

    #snackbarerror.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

﻿#snackbarsuccess {
    visibility: hidden;  
    margin-bottom: 70px;
    width: 400px;
    padding: 14px;   
    font-size: 16px;
}

.css-1lgz3mj {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(56, 142, 60);
    display: flex;
    padding: 6px 16px;
    color: rgb(255, 255, 255);
}       
    #snackbarsuccess.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

#snackbarerror {
    visibility: hidden;
    margin-bottom: 70px;
    width: 500px;
    padding: 14px;
    font-size: 18px;
}

.css-1ufabz4 {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(211, 47, 47);
    display: flex;
    padding: 6px 16px;
    color: rgb(255, 255, 255);
}

.css-1l54tgj {
    margin-right: 12px;
    padding: 7px 0px;
    display: flex;
    font-size: 22px;
    opacity: 0.9;
}

.css-1xsto0d {
    padding: 8px 0px;
    min-width: 0px;
    overflow: auto;
}

.css-1cw4hi4 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
}

    #snackbarerror.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

﻿#snackbarsuccess {
    visibility: hidden;
    margin-bottom: 70px;
    width: 600px;
    padding: 14px;
    font-size: 16px;
}

.css-1lgz3mj {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(56, 142, 60);
    display: flex;
    padding: 6px 16px;
    color: rgb(255, 255, 255);
}       
    #snackbarsuccess.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

#snackbarerror {
    visibility: hidden;
    margin-bottom: 70px;
    width: 600px;
    padding: 14px;
    font-size: 18px;
}

.css-1ufabz4 {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: rgb(211, 47, 47);
    display: flex;
    padding: 6px 16px;
    color: rgb(255, 255, 255);
}

.css-1l54tgj {
    margin-right: 12px;
    padding: 7px 0px;
    display: flex;
    font-size: 22px;
    opacity: 0.9;
}

.css-1xsto0d {
    padding: 8px 0px;
    min-width: 0px;
    overflow: auto;
}

.css-1cw4hi4 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
}

    #snackbarerror.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

