
.navForNavbar {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 0px;
}

    .navForNavbar .icon {
        font-size: 35px;
        font-weight: 800;
        color: darkblue;
        cursor: pointer;
    }

    .navForNavbar ol {
        display: flex;
        list-style: none;
        margin: auto 0;
    }

        .navForNavbar ol li {
            margin: 0 2px;
        }


            .navForNavbar ol li a {
                color: darkslategray;
                font-size: 20px;
                text-decoration: none;
                text-transform: capitalize;
                letter-spacing: 1px;
                padding: 5px 10px;
            }

            .navForNavbar ol li:hover a {
                background-color: whitesmoke;
                color: black;
            }

    .navForNavbar .search_box {
        display: flex;
        margin: auto;
        height: 40px;
        line-height: 75px;
    }

        .navForNavbar .search_box input {
            border: none;
            outline: none;
            background-color: white;
            height: 100%;
            font-size: 20px;
            width: 350px;
        }

        .navForNavbar .search_box span {
            color: red;
            font-size: 20px;
            background-color: white;
            height: 100%;
            padding: 8px;
            position: relative;
            cursor: pointer;
            z-index: 1;
            zoom: 1;
        }

            .navForNavbar .search_box span:hover {
                color: aqua;
            }

            .navForNavbar .search_box span::after {
                height: 100%;
                width: 100%;
                content: '';
                background-color: rosybrown;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                transition: 0.3s;
            }

            .navForNavbar .search_box span:hover::after {
                width: 100%;
            }

    .navForNavbar .bar {
        position: relative;
        margin: auto;
        display: none;
    }

        .navForNavbar .bar span {
            position: absolute;
            color: white;
            font-size: 35px;
        }


#footer {
    margin-top: 30px;
    position:page;
    column-gap: 40px;
    row-gap: 00px;
    width: 100%;
    align-content: center;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 0;
    margin-top: 200px;
}

    nav .search_box input {
        width: 100%;
    }

nav ol {
    display: flex;
    flex-direction: column;
}

.navbar-brand-a {
    font-size: 14px;
}
