
.width-full {
    width: 100%;
}

.form-element-for-login {
    height: 50px;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
}

    .form-element-for-login .form-input {
        width: 100%;
        height: 100%;
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        padding: 0;
        padding-left: 3px;
        font-size: 20px;
    }

    .form-element-for-login .form-label {
        position: absolute;
        top: 15px;
        left: 15px;
        color: black;
        text-transform: capitalize;
        font-size: 18px;
        transition: top 0.3s;
        padding: 0;
        padding-left: 15px;
    }

    .form-element-for-login .form-input:focus ~ .form-label {
        top: -6px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white;
        font-size: 12px;
    }

.form-element-for-login .form-input:not(:focus) ~ .form-label {
    top: 15px;
    background-color: white;
    padding-left: 0px;
    padding-right: 5px;
    font-size: 14px;
}

    .form-element-for-login .form-input:not(:focus):not(:placeholder-shown) ~ .form-label {
        top: -6px;
        background-color: white;
        padding-left: 5px;
        font-size: 12px;
    }

.left-pd-frm-input {
    padding-left: 2px;
}

.right-pd-frm-input {
    padding-right: 2px;
}

.form-element-for-login input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 3px 0 dodgerblue;
    transition: 0.3s all;
}

.form-element-for-login input:hover {
    border-color: dodgerblue;
    box-shadow: 0 0 1px 0 dodgerblue;
}
.form-element-for-login textarea:hover {
    border-color: dodgerblue;
    box-shadow: 0 0 1px 0 dodgerblue;
}
.form-element-for-login select:hover {
    border-color: dodgerblue;
    box-shadow: 0 0 1px 0 dodgerblue;
}
.btn-submit-print {
    background-color: blue;
    width: 200px;
    font-size: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid yellow;
    color: magenta;
    text-align: center;
    position:relative;
}

.container-testing-material {
    margin: 0;
    height: 40px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    display: inline-block;
}

    .container-testing-material .container-chip {
        background-color: #e5ebee;
        border-radius: 15px;
        display: inline-block;
        top: -6px;
    }

.red-color {
    color:red;
}

.field-validation-error.form-input.width-full {
    color: orangered;
    font-weight: bold;
}

.field-validation-valid .form-input.width-full {
    display: none;
}

input.input-validation-error.form-input.width-full {
    border: 2px solid red;
}

input.input-validation-error#Comments.form-input.width-full {
    border: 2px solid red;
}

input.input-validation-error#TestingType.form-input.width-full {
    border: 2px solid red;
}

input.input-validation-error#State.form-input.width-full {
    border: 2px solid red;
}

textarea.input-validation-error#Comments {
    border: 2px solid red;
}

select.input-validation-error#TestingType {
    border: 2px solid red;
}

.submit-progress-bg {
    background-color: lightgrey;
    opacity: .5;
}

.submit-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 6em;
    padding-top: 2.3em;
    z-index: 1;
    /* The following properties are the ones most likely to change */
    width: 20em;
    /* Set 'margin-left' to a negative number that is 1/2 of 'width' */
    margin-left: -10em;
    padding-left: 2.1em;
    background-color: black;
    color: white;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
}

/* Changing style for spinner */
.submit-progress {
    padding-top: 2em;
    width: 23em;
    margin-left: -11.5em; /* Set to a negative number that is 1/2 of the width */
}

    .submit-progress i {
        margin-right: 0.5em;
    }

#snackbar {
    visibility:visible;
    border-radius:12px;
    background-color:green;
    color:white;
    margin-bottom:70px;
    width:370px;
    padding:14px;
    text-align:center;
    font-size:16px;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.inputWithIconSearch {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    transition: 0.3s;
}

    .inputWithIconSearch:focus {
        border-bottom: 2px solid black;
    }

.inputSearchGrid .inputWithIconSearch {
    padding-left: 30px;
    padding-right: 30px;
}

.inputSearchGrid {
    position: relative;
}

    .inputSearchGrid .iconForSearchLeft {
        position: absolute;
        left: 10px;
        top: 4px;
        color: black;
        transition: 0.3s;
    }

    .inputSearchGrid .iconForSearchRight {
        position: absolute;
        right: 20px;
        top: 4px;
        color: #aaa;
        transition: 0.3s;
    }

        .inputSearchGrid .iconForSearchRight:hover {
            position: absolute;
            right: 20px;
            top: 4px;
            color: black;
            transition: 0.3s;
        }

.inputWithIcon.inputIconBg .iconForSignIn {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

/*The following few ID were display hidden bcs of using the datatable things*/
#testDetailsGrid_length {
    display: none;
}

#testDetailsGrid_wrapper {
    border: 1px solid black;
}

#testDetailsGrid_filter {
    display: none;
}

#testDetailsGrid_paginate {
    margin: 7px;
}

#testDetailsGrid_paginate {
    align-items: flex-start;
}

.simple-pagination testDetailsGrid_paginate {
    display: inline-block;
}

.border-radius-grid {
    border-radius: 10px;
    border: 1px solid;
}
.dropdown-right{
    right: 0;
}
@media (max-width:768px) {
    #testDetailsGrid_paginate {
        padding: 0;
        float: left;
    }

    #testDetailsGrid_info {
        padding-left: 20px;
        float: left;
    }
}

@media (min-width:769px) {
    #testDetailsGrid_paginate {
        float: right;
    }

    #testDetailsGrid_info {
        padding-left: 20px;
    }
}

