@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.LayoutDTO>

<div id="@Model.Value.UiPageMetadata.UiControlTypeName@Model.Value.UiPageMetadata.Id"></div> 

<script>
$(document).ready(function () {
    var modelData = JSON.parse('@Json.Serialize(Model)');
        var url = "@Url.Action("LoadGrid","Common")" + "?id=" + modelData.value.uiPageMetadata.moduleLayoutId + "&controlCategoryTypeTemplate="+ modelData.value.uiPageMetadata.uiControlCategoryTypeTemplate;
        var idNum = "#" + modelData.value.uiPageMetadata.uiControlTypeName + modelData.value.uiPageMetadata.id;
    $(idNum).load(url);
});
</script>