@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.LayoutDTO>
<!-- Insert MultiValue Modal Popup -->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalPop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertModelPop">Create</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="gridPopup">
            </div>
            <div class="modal-footer">
                <button type="button" class="ripple button-base button-second" data-bs-dismiss="modal">Cancle</button>
                <button type="button" onclick="InsertMultiValues()" class="ripple button-base button-material-primary">Insert</button>
            </div>
        </div>
    </div>
</div>
<!-- Update MultiValue Modal Popup -->
<div class="modal fade" id="updateModal" role="dialog" aria-labelledby="updateModalPop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModelPop">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="gridPopupUpdate">
            </div>
            <div class="modal-footer">
                <button type="button" class="ripple button-base button-second" data-bs-dismiss="modal">Cancle</button>
                <button type="button" id="savebtn" onclick="UpdateMultiValues(this.value)" class="ripple button-base button-material-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal Popup -->
<div class="modal fade" id="deleteModalPopup" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Delete Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                Are You Sure Want to Delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="ripple button-base button-second" data-bs-dismiss="modal">Cancle</button>
                <button type="button" id="deletePopup" onclick="deleteFun(this.value)" class="ripple button-base button-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Multi Value Table -->
<div id="tableMultiValue"></div>
<script>
    $(document).ready(function () {
        let id = $("#Id").val();
        var url = "@Url.Action("MultiValueControlGrid","Common")" + "?id=" + id;
        $("#tableMultiValue").load(url);
    });
</script>       