
<style>
    .report-content {
        border: 3px solid black;
        width: 80%;
        padding: 9px;
        box-shadow: 10px 10px 10px #888888;
        /*  margin-left: 12%;*/
        margin-top: 2%;
    }

    .report-header {
        border: 0px solid black;
        height: 150px;
    }

    .report-body {
        margin-top: 80px;
        border: 0px solid black;
        height: 300px;
        text-align: center;
        font-size: 100px;
        padding: 100px;
        transform: rotate(-50deg);
        color: grey;
        text-transform: uppercase;
    }

    .report-sign {
        border: 0px solid black;
        height: 100px;
        margin: 30px 30px;
    }

    .report-footer {
        border: 0px solid black;
        height: 150px;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .lab-doctor-sign {
        float: right;
    }

    .report-sign img {
        height: 50px;
        width: 100px;
        display: inline-block;
    }

    .lab-incharge-sign {
        display: inline-block;
    }

    .align-left {
        text-align:;
        padding: 10px;
    }</style>


<div class="report-content">
    <div class="report-header">
        <img src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_report_header.jpg" alt="lab-name-header" />
    </div>
    <div class="patient-details">
        <hr>
        <table border="0">
            <tr>
                <td>**0**</td>
                <td class="align-left">**0A**</td>
            </tr>
            <tr>
                <td>**1**</td>
                <td class="align-left">**1A**</td>
            </tr>
            <tr>
                <td>**2**</td>
                <td class="align-left">**2A**</td>
            </tr>
            <tr>
                <td>**3**</td>
                <td class="align-left">**3A**</td>
            </tr>
            <tr>
                <td>**4**</td>
                <td class="align-left">**4A**</td>
            </tr>
            <tr>
                <td>**5**</td>
                <td class="align-left">**5A**</td>
            </tr>
            <tr>
                <td>**6**</td>
                <td class="align-left">**6A**</td>
            </tr>
        </table>
        <hr>
    </div>
    <div class="report-body">
        Report
    </div>

    <div class="report-sign">
        <div class="lab-incharge-sign">

            <img src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_lab_incharge_sign.jpg" />
            <figcaption>Mr. Sachin Sharma</figcaption>
        </div>
        <div class="lab-doctor-sign">
            <img src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_pathologist_sign.jpg" />
            <figcaption>Dr. A.K. Asthana</figcaption>
        </div>

    </div>

    <div class="report-footer">
        <img src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_report_footer.jpg" alt="lab-footer">
    </div>


</div>