@model TestingAndCalibrationLabs.Web.UI.Models.Node<TestingAndCalibrationLabs.Web.UI.Models.UiPageMetadataDTO>
    <div class="col-lg-6  col-sm-12 col-xs-12 mt-3 form-element-for-login right-pd-frm-input">
        <button type="button" id="@Model.Value.UiControlTypeName@Model.Value.Id" class="btn btn-primary">Primary</button>
    </div>