@if (ViewBag.IsSuccess != null && ViewBag.IsSuccess)
{
    <div class="alert alert-success d-flex align-items-center" id="snackbar" role="alert">
        <div>
            <strong>Submit successful!!</strong>
        </div>
    </div>

}
<h3>Testing andCalibration</h3>
