@if (ViewBag.IsSuccess != null && ViewBag.IsSuccess)
{
    <div class="alert alert-success d-flex align-items-center" id="snackbar" role="alert">
        <div>
            <strong>Submit successful!!</strong>
        </div>
    </div>

}
<h3>Testing andCalibration</h3>
<style>
    #snackbar {
        background-color: lightgreen;
        color: black;
        font-size:larger;
        padding: 30px;
        display: inline-block;
        position:absolute;
        top: 6px;
        left: 0cm;
        transform: translateY(200);
        transition: all 300ms;
    }

        #snackbar.show {
            transform: translateY();
        }
    
</style>
